html {
  font-family: sans-serif;
}

body * {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.textarea {
  resize: vertical;
  max-height: 150px;
  min-width: 50px;
  width: 100%;
  display: inline-block;
}

.button {
  cursor: pointer;
  border-radius: 6px;
  padding: 6px 18px;
  border: none;
  background-color: #e30039;
  color: #fff;
  transition: opacity 0.2s;
}

.button:hover {
  opacity: 0.85;
}

.button:active {
  background-color: #790925;
}

.label {
  margin-bottom: 10px;
  display: block;
  padding: 0px;
}

.form {
  border: 1px solid #000;
  border-radius: 7px;
  max-width: 350px;
  width: 100%;
  padding: 20px;
}

.fieldset {
  border: none;
  padding: 0;
}

.legend {
  font-weight: 700;
  padding: 0px;
  margin-bottom: 15px;
}

.input,
.textarea {
  margin-bottom: 5px;
  border: 1px solid #000;
  border-radius: 7px;
  width: 100%;
  padding: 3px 12px;
}

.checkbox {
  position: absolute;
  appearance: none;
  cursor: pointer;
  outline: none;
}

.label-checkbox {
  padding-left: 22px;
}

.checkbox::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: -22px;
  border: 1px solid #333;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox:checked::after {
  background:
    url("../images/check-icon.svg") no-repeat center,
    #e30039;
}

.checkbox-text {
  font-size: 14px;
}

.input:focus-visible,
.textarea:focus-visible,
.button:focus-visible,
.checkbox:focus-visible:after {
  outline: 1px solid #e30039;
  outline-offset: 2px;
}
