@font-face {
  font-family: Bahnshrift;
  src:
    local("Bahnshrift"), url("../../fonts/Bahnschrift.woff2"), format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Gotham Pro;
  src:
    local("gothampro light"),
    local("gothampro-light") url("../../fonts/gothampro_light.woff2"),
    format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Gotham Pro;
  src:
    local("gothampro regular"),
    local("gothampro-regular") url("../../fonts/gothampro_regular.woff2"),
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Gotham Pro;
  src:
    local("gothampro medium"),
    local("gothampro-medium") url("../../fonts/gothampro_medium.woff2"),
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Gotham Pro;
  src:
    local("gothampro bold"),
    local("gothampro-bold") url("../../fonts/gothampro_bold.woff2"),
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Latin CT;
  src:
    local("latinctwide"), url("../../fonts/latinctwide.woff2"), format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src:
    local("Montserrat Regular"),
    local("Montserrat-Regular"),
    url("../../fonts/MontserratRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src:
    local("Montserrat Medium"),
    local("Montserrat-Medium"),
    url("../../fonts/MontserratMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src:
    local("Roboto Regular"),
    local("Roboto-Regular"),
    url("../../fonts/RobotoRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
