:root {
  /* font-family */
  --third-family: "Latin CT", sans-serif;
  --font-family: "Gotham Pro", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "Latin CT", sans-serif;
  --font3: "Roboto", sans-serif;
  --font4: "Bahnschrift", sans-serif;

  /* color */
  --bg-color: #0e0e12;
  --main-color: #fff;
  --accent-color: radial-gradient(
    3992.22% 112.45% at 8.04% 17.65%,
    rgb(231, 170, 25) 0%,
    rgb(203, 109, 156) 100%
  );
  --border-color: #e49031;
  --secondary-color: linear-gradient(180deg, #65cb7c 0%, #466951 100%);

  /* button accent */
  --button-accent-shadow:
    inset 0 -4px 0 0 #8f4119, 0 3px 49px -3px rgba(226, 128, 72, 0.76);
  --button-accent-color: linear-gradient(
    57deg,
    #dc6b30 0%,
    #e4864f 42.19%,
    #ffbe82 72.92%,
    #e49031 100%
  );

  /* container */
  --container-width: 1571px;
  --container-padding: 15px;

  /* transitions */
  --transition-time: 0.2s;

  /* layers */
  --layer-negative: -1;
  --layer-0: 0;
  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3;
}
