.application__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.application__steps-wrapper {
  position: relative;
  display: flex;
  margin-block: 40px 100px;
}

.application__title {
  text-align: center;
}

@media (width > 1140px) {
  .application__arrow-1-2 {
    position: absolute;
    top: 15%;
    left: 13%;
  }

  .application__arrow-2-3 {
    position: absolute;
    top: 15%;
    left: 50%;
  }
}

@media (width <= 1140px) {
  .application__arrow-1-2 {
    position: absolute;
    top: 15%;
    left: 13%;
  }

  .application__arrow-2-3 {
    position: absolute;
    top: 15%;
    left: 50%;
  }
}

@media (width > 992px) {
  .application__steps-wrapper {
    gap: 150px;
  }

  .application__arrow-1-2,
  .application__arrow-2-3 {
    width: clamp(6.25rem, 3.216rem + 12.94vw, 18.75rem);
  }
}

@media (width <= 992px) {
  .application__steps-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .application__arrow-1-2,
  .application__arrow-2-3 {
    display: none;
  }
}

.application__step {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.application__step-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  flex-shrink: 0;
}

.step-one {
  background: linear-gradient(
    136.87deg,
    #16373a 8.16%,
    #0a1f24 31.4%,
    #0b1b23 47.14%,
    #122b31 87.5%
  );
}

.step-two {
  background: linear-gradient(321.99deg, #82c36d 2.26%, #25523e 92.51%);
}

.step-three {
  background: linear-gradient(135.49deg, #76b467 11.3%, #295740 97.24%);
}

.step-img {
  width: 35px;
  height: 35px;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 12px;
  background-color: #fff;
  border-radius: 50%;
  color: #111;
}

@media (width > 992px) {
  .application__step {
    align-items: flex-start;
    flex-direction: column;
    max-width: 300px;
  }

  .application__step-img {
    width: 90px;
    height: 90px;
  }
}

@media (width <= 992px) {
  .application__step-img {
    width: 80px;
    height: 80px;
  }
}

@media (width <= 576px) {
  .application__subtitle {
    font-size: 10px;
  }

  .application__step-img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }

  .step-img {
    width: 20px;
    height: 20px;
  }

  .badge {
    width: 20px;
    height: 20px;
  }
}

.application__form-wrapper {
  display: flex;
  gap: 15px;
}

@media (width <= 992px) {
  .application__form-wrapper {
    flex-direction: column;
  }

  .application__form-input {
    padding: 20px 40px;
  }
}

.application__form-input {
  border: 3px solid var(--border-color-form);
  border-radius: 10px;
  background-color: var(--card-color);
  transition: outline var(--transition-time);
  color: var(--main-color);
}

@media (width > 992px) {
  .application__form-input {
    padding: 20px 10px;
  }
}

.application__form-input:hover {
  outline: 2px solid var(--secondary-accent-color);
}

.application__form-input:focus {
  outline: 2px solid var(--secondary-accent-color);
}

.application .btn {
  padding: 20px 50px;
  font-size: 18px;
  z-index: var(--layer-2);
}
