.footer {
  padding-block: 70px;
  background-color: var(--card-color);
  font-family: var(--second-family);
  box-shadow: 0 0px 600px var(--secondary-accent-color);
}

.footer__container {
  display: flex;
  align-items: center;
}

@media (width > 576px) {
  .footer__container {
    justify-content: space-between;
  }

  .footer__logo-container {
    align-items: flex-start;
  }
}

@media (width <= 576px) {
  .footer__container {
    flex-direction: column;
    gap: 20px;
  }

  .footer__logo-container {
    align-items: center;
  }
}

.footer__logo-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__social-media-icons {
  display: flex;
  gap: 20px;
}

.social-media-icon:focus-visible,
.logo:focus-visible,
.footer__number:focus-visible {
  outline: 2px solid var(--border-color);
  outline-offset: 4px;
  border-radius: 5px;
}

.footer__subtitle {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.footer__call-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer__call-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.footer__number {
  color: var(--main-color);
  text-decoration: none;
  font-size: 20px;
  transition: background var(--transition-time);
}
