.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-block: 30px;
  z-index: var(--layer-3);
  background-color: var(--bg-color);
  transition: box-shadow var(--transition-time);
}

.header--fixed {
  box-shadow: 0 0 20px var(--shadow-color);
  overflow-y: hidden;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__language-list {
  font-size: 18px;
  border: none;
  background-color: var(--bg-color);
  color: var(--main-color);
}

@media (width > 768px) {
  .header__logo {
    flex-shrink: 0;
  }

  .header__menu {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
  }
}

@media (width <= 768px) {
  .lang-selector {
    display: none;
  }

  .header__menu {
    position: fixed;
    top: 0;
    right: -100vw;
    bottom: 0;
    z-index: var(--layer-2);
    min-width: 297px;
    padding: 144px 15px 20px 0;
    background-color: var(--bg-color);
    -webkit-box-shadow: -2px 0 20px var(--shadow-color);
    box-shadow: -2px 0 20px var(--shadow-color);
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transition:
      right var(--transition-time),
      opacity var(--transition-time),
      visibility var(--transition-time);
    -o-transition:
      right var(--transition-time),
      opacity var(--transition-time),
      visibility var(--transition-time);
    transition:
      right var(--transition-time),
      opacity var(--transition-time),
      visibility var(--transition-time);
  }

  .header__menu--open {
    right: 0;
    opacity: 1;
    visibility: visible;
  }

  .header__menu .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: end;
  }
}

.header__controls {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (width > 992px) {
  .header__controls {
    gap: 30px;
  }
}

@media (width <= 992px) {
  .header__controls {
    gap: 10px;
  }
}

.header__actions-button-log {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  border-radius: 20px;
  border: 1px solid var(--border-color);
  width: 113px;
  height: 60px;
}

.header__actions-button-open {
  font-family: var(--font-family);
  border-radius: 20px;
  width: 234px;
  height: 66px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #000;
  border-radius: 20px;
  box-shadow: var(--button-accent-shadow);
  background: var(--button-accent-color);
  transition: opacity var(--transition-time);
}

.header__actions-button-open:active {
  opacity: 0.5;
}
