.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 50px;
  overflow-x: clip;
}

@media (width > 576px) {
  .hero {
    padding-bottom: 94px;
  }
}

@media (width <= 576px) {
  .hero {
    padding-bottom: 80px;
  }
}

@media (width > 768px) {
  .hero__gift {
    margin-bottom: 40px;
    padding: 5px 10px 5px;
    border-radius: 19px;
    height: 90px;
  }

  .hero__gift-title-main {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
    color: #fff;
  }

  .hero__gift-title-second {
    font-weight: 400;
    font-size: 18px;
    color: #eae9e9;
  }

  .hero__top-promotions-title {
    font-size: 72px;
    line-height: 117%;
    color: var(--main-color);
  }

  .hero__top-promotions-list {
    font-weight: 300;
    font-size: 30px;
    line-height: 159%;
  }

  .hero__top-promotions-button-download {
    width: 378px;
    height: 106px;
  }
}

@media (width < 768px) {
  .hero__gift {
    width: 100%;
    height: 130px;
    padding-left: 40px;
    flex-direction: row-reverse;
  }

  .hero__gift-img {
    align-items: flex-end;
    width: 60px;
    height: 60px;
  }

  .hero__gift-title {
    flex-direction: column;
  }

  .hero__gift-timer {
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: -0.08em;
    order: -1;
  }

  .hero__gift-title-main {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 5px;
    color: #fff;
  }

  .hero__gift-title-second {
    font-weight: 300;
    font-size: 18px;
    color: #eae9e9;
  }

  .hero__top-promotions-title {
    font-size: 60px;
    line-height: 117%;
    justify-content: center;
  }

  .hero__top-promotions-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__top-promotions-list {
    font-weight: 400;
    font-size: 12px;
    line-height: 159%;
  }

  .hero__top-promotions-button-download {
    width: 109px;
    height: 31px;
  }
}

.hero__top-promotions-title {
  font-weight: 700;
}

.hero__gift-img {
  margin-right: 10px;
  transform: rotate(-5deg);
  font-weight: 400;
  font-size: 105px;
}

.hero__gift-title {
  display: flex;
}

.hero__gift-title-container {
  display: flex;
  flex-direction: column;
}

.hero__top-promotions-header {
  display: flex;
  flex-direction: column;
}

.top,
.middle,
.bottom {
  display: block;
}

.hero__top-promotions-arrow-wrapper {
  position: relative;
  display: inline-block;
}

.hero__top-promotions-arrow {
  position: absolute;
  left: -70px;
  bottom: 10px;
}

.hero__top-promotions-list {
  margin: 30px;
  font-family: var(--font-family);
  list-style-type: disc;
}

.hero__top-promotions-item {
  color: var(--main-color);
}

.hero__top-promotions-footer {
  display: flex;
  flex-direction: column;
}

.hero__top-promotions-controls {
  display: flex;
}

.hero__top-promotions-button-wrapper {
  display: flex;
  justify-content: flex-end;
  max-width: 380px;
}

.hero__top-promotions-overlay-icon {
  position: absolute;
  z-index: var(--layer-2);
  pointer-events: none;
  transition: opacity var(--transition-time);
}

.hero__top-promotions-button-download {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #000;
  border-radius: 20px;
  box-shadow: var(--button-accent-shadow);
  background: var(--button-accent-color);
  transition: opacity var(--transition-time);
  margin-right: 20px;
}

.hero__top-promotions-button-download:active,
.hero__top-promotions-overlay-icon:active {
  opacity: 0.5;
}

.hero__top-promotions-button-open {
  font-family: var(--font-family);
  width: 378px;
  height: 106px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: var(--main-color);
  border-radius: 20px;
  border: 1px solid var(--border-color);
}

.hero__top-promotions-users-wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--main-color);
}

.hero__position {
  position: absolute;
}

.hero__top-promotions-wooden-hand-wrapper::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 100%;
  background: conic-gradient(from 180deg, #98c269 0deg, #9edfb600 360deg);
  filter: blur(300px);
  z-index: var(--layer-negative);
  display: block;
  unicode-bidi: isolate;
}

.hero__top-promotions-img-wooden-hand {
  position: absolute;
}
