.header__menu-list {
  font-family: var(--font-family);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.header__menu-link {
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: var(--main-color);
  transition:
    background-image var(--transition-time),
    -webkit-background-clip var(--transition-time),
    background-clip var(--transition-time),
    -webkit-text-fill-color var(--transition-time),
    color var(--transition-time);
}

.menu__link-emoji {
  position: relative;
}

.menu__link-emoji:hover::after {
  content: "✨";
  position: absolute;
  right: -25px;
}

@media (any-hover: hover) {
  .header__menu-item:hover {
    background-image: var(--accent-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}
