.header__menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__menu-link {
  font-size: 15px;
  line-height: 130%;
  color: var(--main-color);
}

.header__menu-item {
  position: relative;
  transition:
    background var(--transition-time),
    -webkit-background-clip var(--transition-time),
    background-clip var(--transition-time),
    -webkit-text-fill-color var(--transition-time),
    color var(--transition-time);
}

.header__menu-item::after {
  content: url("../../icons/sparkles.svg");
  width: 20px;
  height: 20px;
  position: absolute;
  right: -25px;
  opacity: 0;
  transform: translateX(-10px);
  transition:
    opacity var(--transition-time),
    transform var(--transition-time);
}

.header__menu-link:focus-visible {
  outline: 2px solid var(--border-color);
  outline-offset: 4px;
  border-radius: 5px;
}

@media (any-hover: hover) {
  .header__menu-item:hover {
    background: var(--accent-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  .header__menu-item:hover::after {
    opacity: 1;
    transform: translateX(0);
  }
}
