@media (width > 992px) {
  .money-abilities__container {
    margin-top: 40px;
  }
}

@media (width <= 1580px) {
  .money-abilities__container {
    margin-top: 750px;
  }
}

@media (width <= 992px) {
  .money-abilities__container {
    margin-top: 530px;
  }
}

@media (width <= 576px) {
  .money-abilities__container {
    margin-top: 350px;
  }
}

.money-abilities__markets {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(0.625rem, -0.53rem + 5.65vw, 6.25rem);
  margin-inline: 40px;
}

.money-abilities__market {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.market-icon {
  max-width: clamp(4.375rem, 3.734rem + 3.14vw, 7.5rem);
  max-height: clamp(4.375rem, 3.734rem + 3.14vw, 7.5rem);
}

.money-abilities__investment {
  width: 100%;
}

.percentage-investment {
  font-weight: 400;
  font-size: clamp(0.938rem, 0.809rem + 0.63vw, 1.563rem);
  line-height: 130%;
  color: var(--secondary-accent-color);
  text-align: center;
  margin-bottom: 5px;
}

.income-investment {
  font-weight: 400;
  font-size: clamp(0.625rem, 0.497rem + 0.63vw, 1.25rem);
  line-height: 130%;
  color: var(--main-color);
  background: #262626;
  text-align: center;
  border-radius: 50px;
}

@media (width > 992px) {
  .card-down {
    transform: translateY(30px);
  }
}

.catalog__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.catalog__container .subtitle {
  margin-bottom: 20px;
}

@media (width > 992px) {
  .money__abilities .btn {
    padding-inline: 70px;
  }
}

.slider {
  display: block;
  overflow-x: hidden;
}

.slider-track {
  display: flex;
  align-items: center;
  will-change: transform;
}

.slide {
  flex-shrink: 0;
}
